<toco-progress
  [loading]="!stats && !error"
  [position]="'absolute'"
></toco-progress>
<ng-container *ngIf="error">
  <h1>ERROR</h1>
</ng-container>

<ng-container *ngIf="stats">
  <section
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2em"
    style="padding: 1em"
  >
  <mat-card class="w-card" [ngStyle]="{ 'min-height': '160px' }">
    <mat-card-title-group>
      <mat-card-title>{{ 'SCEIBA_CATALOGO' | translate }}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div class="text" markdown [src]="'assets/markdown/home.md'" style="margin: 2em;"></div>
    </mat-card-content>
  </mat-card>



  <mat-card class="w-card" [ngStyle]="{ 'min-height': '160px' }">
    <mat-card-title-group>
      <mat-card-title>Últimos Ingresos</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-nav-list dense>
        <a
          mat-list-item
          *ngFor="let source of stats.last_sources"
          (click)="viewJournal(source.id)"
        >
          {{ source.name }}
        </a>
        <!-- <a mat-list-item href="">Revista Cubana de Ciencia de la Información</a>
      <a mat-list-item href="">Revista 16 de Abril</a> -->
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-card" [ngStyle]="{ 'min-height': '160px' }">
    <mat-card-title-group>
      <mat-card-title>Tipo de Fuente</mat-card-title>
      <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
      <!-- <img matCardImage src="Side image"> -->
    </mat-card-title-group>
    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content>
      <mat-nav-list dense>
        <p *ngFor="let item of stats.source_types">
          <a
            mat-list-item
            *ngIf="!item.source_count || item.source_count == 0"
            [routerLink]="['/sources']"
            [queryParams]="{ source_type: item.source_type }"
          >
            {{ item.label }}
          </a>
          <a
            mat-list-item
            *ngIf="item.source_count > 0"
            [routerLink]="['/sources']"
            [queryParams]="{ source_type: item.source_type }"
          >
            {{ item.label }} - {{ item.source_count }}
          </a>
        </p>
        <!-- <a mat-list-item [routerLink]="['/sources']" [queryParams]="{source_type: 'POPULARIZATION'}">Revistas Dibulgación Científicas</a>
        <a mat-list-item [routerLink]="['/sources']" [queryParams]="{source_type: 'JOURNAL'}">Revistas Científicas</a> -->
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-card" [ngStyle]="{ 'min-height': '160px' }">
    <mat-card-title-group>
      <mat-card-title>Materias</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-nav-list dense>
        <p *ngFor="let item of stats.subjects">
          <a
            mat-list-item
            *ngIf="!item.source_count || item.source_count == 0"
            [routerLink]="['/sources']"
            [queryParams]="{ subjects: item.uuid }"
          >
            {{ item.description }}
          </a>
          <a
            mat-list-item
            *ngIf="item.source_count > 0"
            [routerLink]="['/sources']"
            [queryParams]="{ subjects: item.uuid }"
          >
            {{ item.description }} - {{ item.source_count }}
          </a>
        </p>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-card" [ngStyle]="{ 'min-height': '160px' }">
    <mat-card-title-group>
      <mat-card-title>Indices</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-nav-list dense>
        <p *ngFor="let item of stats.indexes">
          <a
            mat-list-item
            *ngIf="!item.source_count || item.source_count == 0"
            [routerLink]="['/sources']"
            [queryParams]="{ indexes: item.uuid }"
          >
            {{ item.description }}
          </a>
          <a
            mat-list-item
            *ngIf="item.source_count > 0"
            [routerLink]="['/sources']"
            [queryParams]="{ indexes: item.uuid }"
          >
            {{ item.description }} - {{ item.source_count }}
          </a>
        </p>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  </section>
</ng-container>
