<!-- Journal Information -->
<mat-card *ngIf="journalVersion && journalData">
  <mat-card-header *ngIf="showVersionLabel">
    <!-- <img mat-card-avatar *ngIf="journal.data.logo; else logotemplate" [style.background-size]="'cover'" src="journal.data.logo">
        <ng-template #logotemplate>
            <img mat-card-avatar [src]="defaultLogo" alt="">
        </ng-template> -->

    <mat-card-title> </mat-card-title>

    <mat-card-subtitle> Revisión actual </mat-card-subtitle>
  </mat-card-header>

  <mat-divider  *ngIf="showVersionLabel" [inset]="true" style="margin-bottom: 1em"></mat-divider>

  <mat-card-content>
    <p>
      <catalog-journal-view-info-field
        [label]="'Título'"
        [value]="journalData.title"
      ></catalog-journal-view-info-field>
    </p>
    <p>
      <catalog-journal-view-info-field
        [label]="'Subtítulo'"
        [value]="journalData.subtitle"
      ></catalog-journal-view-info-field>
    </p>

    <p>
      <catalog-journal-view-info-field
        [label]="'Nombre Abreviado'"
        [value]="journalData.shortname"
      ></catalog-journal-view-info-field>
    </p>
    <p>
      <catalog-journal-view-info-field *ngIf="journalData.source_type"
        [label]="'Tipo'"
        [value]="tipos[journalData.source_type].label"
      ></catalog-journal-view-info-field>
    </p>

    <mat-label style="font-weight: bold">ISSN: </mat-label>
    <div style="margin-left: 0.8em">
      <p>
        <catalog-journal-view-info-field
          [label]="'Impreso'"
          [value]="getIdentifier(IdentifierSchemas.pissn)"
        ></catalog-journal-view-info-field>
      </p>
      <p>
        <catalog-journal-view-info-field
          [label]="'Electrónico'"
          [value]="getIdentifier(IdentifierSchemas.eissn)"
        ></catalog-journal-view-info-field>
      </p>
      <p>
        <catalog-journal-view-info-field
          [label]="'De enlace'"
          [value]="getIdentifier(IdentifierSchemas.lissn)"
        ></catalog-journal-view-info-field>
      </p>
    </div>
    <mat-label style="font-weight: bold">RNPS: </mat-label>
    <div style="margin-left: 0.8em">
      <p>
        <catalog-journal-view-info-field
          [label]="'Impreso'"
          [value]="getIdentifier(IdentifierSchemas.prnps)"
        ></catalog-journal-view-info-field>
      </p>
      <p>
        <catalog-journal-view-info-field
          [label]="'Electrónico'"
          [value]="getIdentifier(IdentifierSchemas.ernps)"
        ></catalog-journal-view-info-field>
      </p>
    </div>

    <p>
      <catalog-journal-view-info-field
        [label]="'URL'"
        [value]="getIdentifier(IdentifierSchemas.url)"
      ></catalog-journal-view-info-field>
    </p>

    <p>
      <catalog-journal-view-info-field
        [label]="'OAIURL'"
        [value]="getIdentifier(IdentifierSchemas.oaiurl)"
      ></catalog-journal-view-info-field>
    </p>

    <p>
      <catalog-journal-view-info-field *ngIf="journalData.source_system"
        [label]="'Sistema'"
        [value]="sistemas[journalData.source_system].label"
      ></catalog-journal-view-info-field>
    </p>

    <p>
      <catalog-journal-view-info-field
        [label]="'Email'"
        [value]="journalData.email"
      ></catalog-journal-view-info-field>
    </p>

    <p>
      <catalog-journal-view-info-field
        [label]="'Seriadas Cubanas'"
        [value]="journalData.seriadas_cubanas"
      ></catalog-journal-view-info-field>
    </p>

    <p>
      <catalog-journal-view-info-field
        [label]="'Propósito'"
        [value]="journalData.purpose"
      ></catalog-journal-view-info-field>
    </p>

    <p>
      <catalog-journal-view-info-field
        [label]="'Año de Inicio'"
        [value]="journalData.start_year | date"
      ></catalog-journal-view-info-field>
      <!-- <mat-label style="font-weight: bold;"> Año de Inicio: </mat-label>
      <mat-label *ngIf="journalData.start_year">
        {{ journalData.start_year | date }}
      </mat-label>
      <mat-label
        *ngIf="!journalData.start_year"
        class="text-muted text-through"
        >Vacío</mat-label
      > -->
    </p>

    <p>
      <catalog-journal-view-info-field
        [label]="'Año de Fin'"
        [value]="journalData.end_year | date"
      ></catalog-journal-view-info-field>
    </p>

    <p>
      <catalog-journal-view-info-field
        [label]="'Frecuencia de Publicación'"
        [value]="journalData.frequency"
      ></catalog-journal-view-info-field>
    </p>
    <mat-label style="font-weight: bold"> Descripción:</mat-label>
    <mat-label *ngIf="!journalData.description" class="text-muted text-through"
      >Vacío</mat-label
    >
    <div
      *ngIf="journalData.description"
      class="e2e-inner-html-bound text-align-justify"
      [innerHTML]="journalData.description"
    ></div>

    <mat-label style="font-weight: bold">Redes Sociales:</mat-label>
    <div style="margin-left: 0.8em">
      <p>
        <catalog-journal-view-info-field
          [label]="'Facebook'"
          [value]="journalData.socialNetworks.facebook"
        ></catalog-journal-view-info-field>
      </p>
      <p>
        <catalog-journal-view-info-field
          [label]="'Twitter'"
          [value]="journalData.socialNetworks.twitter"
        ></catalog-journal-view-info-field>
      </p>
      <p>
        <catalog-journal-view-info-field
          [label]="'Linkedin'"
          [value]="journalData.socialNetworks.linkedin"
        ></catalog-journal-view-info-field>
      </p>
    </div>

    <!-- show terms -->

    <mat-divider
      [inset]="true"
      style="margin-bottom: 1em; margin-top: 1em"
    ></mat-divider>

    <!-- <catalog-journal-view-version-term
      title="Grupo:"
      [terms]="groupTerms"
      [vocab_id]="vocabularies.INDEXES_CLASIFICATION"
    ></catalog-journal-view-version-term>

    <catalog-journal-view-version-term
      title="Provincia:"
      [terms]="provinceTerms"
      [vocab_id]="vocabularies.CUBAN_PROVINCES"
    ></catalog-journal-view-version-term> -->

    <catalog-journal-view-version-term
      title="Licencia:"
      [terms]="licenceTerms"
      [vocab_id]="vocabularies.LICENCES"
    ></catalog-journal-view-version-term>

    <catalog-journal-view-version-term
      title="Materias:"
      [terms]="subjectTerms"
      [vocab_id]="vocabularies.SUBJECTS"
    ></catalog-journal-view-version-term>

    <mat-card style="margin: 1em; background-color: whitesmoke">
      <mat-card-header>
        <mat-card-title>Organizaciones:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <catalog-source-edit-organizations
          [sourceData]="journalData"
          [editable]="false"
          [ngStyle]="{ margin: '1em' }"
        >
        </catalog-source-edit-organizations>
      </mat-card-content>
    </mat-card>

    <mat-card style="margin: 1em; background-color: whitesmoke">
      <mat-card-header>
        <mat-card-title> Indizaciones:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <catalog-source-edit-indexes
          [sourceData]="journalData"
          [editable]="false"
          [ngStyle]="{ margin: '1em' }"
        >
        </catalog-source-edit-indexes>
        <!-- <mat-accordion>
          <ng-container *ngFor="let termSource of dataBaseTerms">
            <mat-expansion-panel
              *ngIf="termSource.term.vocabulary == vocabularies.INDEXES"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ termSource.term.description }}
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <p *ngIf="termSource.data">
                <strong>URL: </strong> {{ termSource.data.url }}
              </p>
              <p *ngIf="termSource.data && termSource.data['initial_cover']">
                <strong>Cobertura inicio: </strong>
                {{ termSource.data["initial_cover"] }}
              </p>
              <p *ngIf="termSource.data && termSource.data['end_cover']">
                <strong>Cobertura hasta: </strong>
                {{ termSource.data["end_cover"] }}
              </p>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion> -->
      </mat-card-content>
    </mat-card>
  </mat-card-content>

  <mat-divider [inset]="true"></mat-divider>
</mat-card>
